.container {
  width: 300px;
}

h2 {
  margin-top: 16px;
  font-weight: 700;
  font-size: 22px;
}

h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
}

.menu {
  position: fixed;
  left: 350px;
  top: 20px;
  border-radius: 6px;
  border: 2px solid green;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
